/* PodKatch Custom CSS

Depends on the GoliathCSS library.
*/

.sidebar {
    -sidebar-width: 21em;
    -fx-pref-width: -sidebar-width;
}
.sidebar .label {
    -fx-padding: 0.3em 1em 0.3em 1em;
}
.sidebar .separator:horizontal .line {
    -fx-border-width: 0.09em, 0;
}
.sidebar .button {
    -fx-pref-width: -sidebar-width;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0.5em 1em .5em 1em;
}

.window {
    -fx-padding: 0.5em 1em 0 1em
}

.player {
    -fx-padding: 0.5em 2em 0.5em 2em;
}
.player .button .graphic {
    -fx-padding: 0;
    -fx-margin: 0 2em 0 2em;
}
.player .button .graphic {
    -fx-icon-size: 1;
}

.dialog {
    -fx-padding: 1em 1em 1em 1em;
}
