/* PodKatch Light Mode CSS

Depends on the GoliathCSS library.
*/

* {
    -fx-theme-header: #ffffff;
    -fx-theme-background: -fx-theme-header;
    -fx-theme-background-alt: #f2f2f2;
    -fx-theme-selected: #cbeaff;
    -fx-theme-label-text: #333333;
    -fx-theme-selectable-hover: #e1e1e1;
    -fx-theme-selectable-active: #dbdbdb;
    -fx-theme-tab-close-color: -fx-theme-label-text;
    -fx-highlight-fill: -fx-theme-selected;

    /*-fx-padding-default: 3;
    -fx-margin-default: -fx-padding-default;*/

    -sidebar-color-1: #e4e4e4;
    -sidebar-color-2: #dbdbdb;
    -sidebar-color-3: #c1c1c1;

    -sidebar-background-color: -sidebar-color-2;
    -sidebar-separator-color: -sidebar-color-3;

    -player-color-1: #ffffff;
    -player-color-2: #a1a1a1;
    -player-color-3: #7f7f7f;

    -player-background-color: -player-color-2;
}

.button {
    -fx-background-color: -sidebar-background-color;
}
.button:hover {
    -fx-background-color: -sidebar-color-1;
}
.button:pressed {
    -fx-background-color: -sidebar-separator-color;
}

.sidebar {
    -fx-background-color: -sidebar-background-color;
}
.sidebar .button {
    -fx-background-color: -sidebar-background-color;
}
.sidebar .button:hover {
    -fx-background-color: -sidebar-color-1;
}
.sidebar .button:pressed {
    -fx-background-color: -sidebar-separator-color;
}
.sidebar .separator:horizontal .line {
    -fx-border-color: -sidebar-separator-color transparent transparent transparent, transparent transparent transparent transparent;
}

.player {
    -fx-background-color: -player-background-color;
}
